// RESETS
// FORMS
// VERSION 0.1
// Lorem ipsum dolor sit amet, consectetur adipisicing elit.



// GRAVITY FORMS RESET
// BOX MODEL
.gform_wrapper
	margin-top: 0
	margin-bottom: 0

	.gform_body
		ul.gform_fields

			li.gfield
				padding-right: 0
				margin-top: 15px !important

				.ginput_container
					margin-top: 10px !important
					display: inline-block
					width: 100%

				&.gf_left_half
					padding-right: 7.5px !important
					width: 50%
					// float: left
					+respond-to(xs)
						padding-right: 0 !important
						width: 100%

				&.gf_right_half
					padding-left: 7.5px !important
					width: 50%
					float: right
					+respond-to(xs)
						padding-left: 0 !important
						width: 100%

			li.gfield:nth-child(1):not(.gfield_error):not(.gf_left_half):not(.gf_right_half)
				margin-top: 0 !important

				.ginput_container
					// margin-top: 0 !important
	
	.gform_footer
		margin-top: 15px
		padding-top: 0
		padding-bottom: 0

		> input[type="submit"]
			margin-bottom: 0 !important