te// COMPONENTS
// TESTIMONIALS
// VERSION 0.1
// Lorem ipsum dolor sit amet, consectetur adipisicing elit.


// TESTIMONIAL ROTATOR PLUGIN
// DEFAULT STYLING - 3 COLUMN STATIC
.midas_testimonials_3-column-static
	.testimonial_rotator_wrap
		margin: 0
		padding: 0
		
		.testimonial_rotator.format-list.template-longform
			+respond-to(above-xs)
				display: flex

			.slide
				margin: 15px
				display: flex
				flex-direction: column
				justify-content: center
				flex: 0 1 33%

				.testimonial_rotator_stars
					padding: 0
					margin: 15px 0

				.testimonial_rotator_description
					.testimonial_rotator_quote
						font-size: 1rem
						line-height: 1.75
						margin-bottom: 30px

					.longform_hr
						display: none

					.testimonial_rotator_img
						margin-bottom: 15px

					.testimonial_rotator_author_info
						padding: 0
						margin: 0

						> p
							font-size: 1rem
							font-weight: bold

	&.midas_testimonials_boxed
		.testimonial_rotator_wrap
			.testimonial_rotator.template-longform
				.slide
					width: auto
					margin: 15px
					background-color: #fff
					padding: 30px
					box-shadow: $ui-box-shadow
					border-radius: $ui-element-border-radius


// DEFAULT STYLING - CAROUSEL
.midas_testimonials_carousel
	.testimonial_rotator_wrap
		.testimonial_rotator.template-longform
			display: flex

			.slide

				.testimonial_rotator_stars
					padding: 0
					margin: 15px 0

				.testimonial_rotator_description
					.testimonial_rotator_quote
						font-size: 1rem
						line-height: 1.75
						margin-bottom: 30px

					.longform_hr
						display: none

					.testimonial_rotator_img
						margin-bottom: 15px

					.testimonial_rotator_author_info
						padding: 0
						margin: 0

						> p
							font-size: 1rem
							font-weight: bold

	&.midas_testimonials_boxed
		.testimonial_rotator_wrap
			.testimonial_rotator.template-longform
				.slide
					width: auto
					margin: 15px
					background-color: #fff
					padding: 30px
					box-shadow: $ui-box-shadow
					border-radius: $ui-element-border-radius


// DEFAULT STYLING - STACKED LIST
.midas_testimonials_stacked-list
	.testimonial_rotator_wrap
		.testimonial_rotator.format-list.template-longform

			.slide
				width: auto

				.testimonial_rotator_stars
					padding: 0
					margin: 15px 0

				.testimonial_rotator_description
					.testimonial_rotator_quote
						font-size: 1rem
						line-height: 1.75
						margin-bottom: 30px

					.longform_hr
						display: none

					.testimonial_rotator_img
						margin-bottom: 15px

					.testimonial_rotator_author_info
						padding: 0
						margin: 0

						> p
							font-size: 1rem
							font-weight: bold

	&.midas_testimonials_boxed
		.testimonial_rotator_wrap
			.testimonial_rotator.template-longform
				.slide
					width: auto
					margin: 15px
					background-color: #fff
					padding: 30px
					box-shadow: $ui-box-shadow
					border-radius: $ui-element-border-radius


// DEFAULT STYLING - SINGLE STATIC
.midas_testimonials_single-static
	.testimonial_rotator_wrap
		padding: 0
		margin: 0
		
		.testimonial_rotator.format-list.template-longform
			display: flex

			.slide
				margin: 0

				.testimonial_rotator_stars
					padding: 0
					margin: 15px 0

				.testimonial_rotator_description
					.testimonial_rotator_quote
						font-size: 1rem
						line-height: 1.75
						margin-bottom: 30px

					.longform_hr
						display: none

					.testimonial_rotator_img
						margin-bottom: 15px

					.testimonial_rotator_author_info
						padding: 0
						margin: 0

						> p
							font-size: 1rem
							font-weight: bold
	
	&.midas_testimonials_boxed
		.testimonial_rotator_wrap
			.testimonial_rotator.format-list.template-longform
				.slide
					margin: 15px
					background-color: #fff
					padding: 30px
					box-shadow: $ui-box-shadow
					border-radius: $ui-element-border-radius
	
	&.midas_testimonials_text-left
		.testimonial_rotator_wrap
			.testimonial_rotator.format-list.template-longform
				.slide
					.testimonial_rotator_description
						.testimonial_rotator_quote
							text-align: left

						.testimonial_rotator_author_info p
							text-align: left
