// COMPONENTS
// TYPOGRAPHY
// VERSION 0.1
// Lorem ipsum dolor sit amet, consectetur adipisicing elit.



// TYPOGRAPHY
body
	font-family: $body-ff !important
	font-size: $body-fsi !important
	line-height: $body-lh !important
	color: $body-c !important

	// BASE STYLING
	h1, h2, h3, h4, h5, h6
		// padding-bottom: 0 !important
	
	*.h0, .h0 *
		+h0-styling

	h1, *.h1, .h1 *
		+h1-styling

	h2, *.h2, .h2 *
		+h2-styling

	h3, *.h3, .h3 *
		+h3-styling

	h4, *.h4, .h4 *
		+h4-styling

	h5, *.h5, .h5 *
		+h5-styling

	h6, *.h6, .h6 *
		+h6-styling
	
	// BASE LINK STYLING
	a, p a
		font-size: inherit
		font-weight: inherit
		font-style: normal
		text-decoration: none
		color: $accent
		letter-spacing: inherit

		&:hover
			color: $green
			text-decoration: underline

	a:focus
		outline: none !important

	// TABLES
	.el-table
		.cell
			word-break: break-word
		
		.el-table__body
			thead
				tr
					th
						border-top: 0px solid transparent
						background-color: transparent
						font-size: 10px
						font-weight: 900
						color: $dark
						
		.el-table__header-wrapper
			table.el-table__header
				thead
					tr
						th
							border-top: 0px solid transparent
							background-color: transparent
							font-size: 10px
							font-weight: 900
							color: $dark

	.table td, .table th, .el-table td, .el-table th
		color: $dark

	// CARDS
	.card
		.card-header
			font-size: 24px
			font-weight: 700
			line-height: 1
			
			h3
				font-size: 24px
				color: $dark

	// FORMS
	// INPUTS (TOP LABEL)
	.form-group
		label.form-control-label
			color: $dark
			font-size: 10px
			font-weight: 700
			text-transform: uppercase

		label.form-control-label + div.has-label
			input.form-control
				color: $dark
				font-size: 15px
				line-height: 1.5



















