// COMPONENTS
// BUTTONS
// VERSION 0.1
// Lorem ipsum dolor sit amet, consectetur adipisicing elit.


// DIVI BUTTONS
body, body.et_pb_button_helper_class
	.et_pb_button, .et_button_no_icon .et_pb_button
		+btn(std)
		&:hover
			+btn(std-hover)

		&.btn-light
			+btn(std-light)
			&:hover
				+btn(std-light-hover)

		&.btn-outline
			+btn(outline)
			&:hover
				+btn(outline-hover)

		&.btn-light-outline
			+btn(light-outline)
			&:hover
				+btn(light-outline-hover)


// GRAVITY FORMS SUBMIT BUTTON
body
	.gform_wrapper
		.gform_footer, .gform_page_footer
			input.button, input[type=submit], input.button.gform_next_button, input.button.gform_prev_button, input.button.gform_previous_button
				+btn(std)

				&:hover
					+btn(std-hover)


// BUTTON STYLE MENU ITEMS
.button-style
	+btn(std)

	> a
		padding: 0 !important

	> a:hover
		padding: 0 !important
		opacity: 1 !important
		border: 0px solid transparent !important
	
	&:hover
		+btn(std-hover)

.et_mobile_menu
	li.button-style
		> a
			border: 0px solid transparent
			text-align: center