// COMPONENTS
// OVERLAYS
// VERSION 0.1
// Lorem ipsum dolor sit amet, consectetur adipisicing elit.



// DIVI OVERLAYS
body
	.overlay-container
		.overlay
			background-color: $overlay-bg

			.overlay-close
				color: $overlay-close-c

			// FORMS IN OVERLAY
			label.gfield_label
				color: $overlay-form-label-c