#top-gradient-bar {
  background-color: #ef8354 !important;
  background: #ef8354 !important;
}

#top-gradient-bar #top-spacer-wrapper {
  background-color: #ef8354 !important;
  background: #ef8354 !important;
}

#top-gradient-bar #top-spacer-wrapper #top-spacer {
  background-color: #ef8354 !important;
  background: #ef8354 !important;
}

#wrapper {
  background-color: #efeee6;
}

#wrapper #flyrise-header {
  background-color: #efeee6;
}

#wrapper #flyrise-header #flyrise-header-content-wrap {
  margin: 60px 0 0;
}

#wrapper #flyrise-header #flyrise-header-content-wrap #flyrise-header-content #flyrise-header-logo {
  margin-left: 48px;
}

#wrapper #flyrise-header #flyrise-header-content-wrap #flyrise-header-content #flyrise-header-logo > p {
  margin-bottom: 0;
}

#wrapper #flyrise-header #flyrise-header-content-wrap #flyrise-header-content #flyrise-header-intro {
  margin-right: 48px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 150% !important;
  color: #2d3142;
}

#wrapper #flyrise-header #flyrise-header-content-wrap #flyrise-header-content #flyrise-header-headline {
  font-family: 'Bebas Neue', sans-serif !important;
  font-size: 42px !important;
  font-weight: 700 !important;
  line-height: 150% !important;
  color: #2d3142 !important;
  margin: 60px 48px 15px !important;
}

#wrapper #flyrise-header #flyrise-header-content-wrap #flyrise-header-content #flyrise-header-headline-after {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !important;
  font-size: 20px !important;
  font-weight: 400 !important;
  line-height: 150% !important;
  color: #2d3142;
  margin: 0 48px 80px !important;
}

#template_container #template_body {
  height: 100% !important;
}

#body_content #body_content_inner {
  padding-top: 40px !important;
}

#body_content #body_content_inner h1 {
  font-family: 'Bebas Neue', sans-serif !important;
  font-size: 42px !important;
  font-weight: 700 !important;
  line-height: 150% !important;
}

#body_content #body_content_inner h2 {
  font-family: 'Bebas Neue', sans-serif !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  line-height: 130% !important;
}

#body_content #body_content_inner h2 a {
  font-family: 'Bebas Neue', sans-serif !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  line-height: 130% !important;
  font-weight: inherit !important;
}

#body_content #body_content_inner h3 {
  font-family: 'Bebas Neue', sans-serif !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  line-height: 130% !important;
}

#body_content #body_content_inner table, #body_content #body_content_inner th, #body_content #body_content_inner td {
  border: 0px solid transparent !important;
  border-collapse: collapse;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 150% !important;
  color: #2d3142;
}

#body_content #body_content_inner table th {
  background-color: #efeee6;
  font-weight: 700;
}

#body_content #body_content_inner table#address {
  width: 100%;
}

#flyrise-footer {
  background-color: #efeee6 !important;
}

#flyrise-footer #flyrise-footer-content-wrap {
  margin: 0 0 60px;
}

#flyrise-footer #flyrise-footer-content-wrap #flyrise-footer-content #flyrise-footer-logo {
  margin: 60px 0 60px;
}

#flyrise-footer #flyrise-footer-content-wrap #flyrise-footer-content #flyrise-footer-copyright {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 150% !important;
  color: #2d3142 !important;
}
