// UTILITIES
// ROW
// VERSION 0.1
// Lorem ipsum dolor sit amet, consectetur adipisicing elit.



// ROW DROPSHADOW
// APPLY CLASS TO ROW "row-dropshadow"
.row-dropshadow
	box-shadow: 0 2px 4px rgba(0,0,0,0.05)
	z-index: 1


// BACKGROUND OVERLAYS
// APPLY CLASS TO ROW "row-bg-overlay-1"
.row-bg-overlay-1
	&:before
		content: ""
		display: block
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: $bg-overlay-color
		opacity: $bg-overlay-opacity