// UTILITIES
// FORMS
// VERSION 0.1
// Lorem ipsum dolor sit amet, consectetur adipisicing elit.



// SIMPLE INLINE EMAIL FORM
// APPLY CLASS IN FORM SETTINGS "midas-simple-email-form"
.midas-simple-email-form_wrapper.gform_wrapper
	margin: 0

	.midas-simple-email-form
		display: flex
		flex-direction: row
		flex-wrap: nowrap
		+respond-to(xs)
			flex-wrap: wrap

		.gform_body
			flex: 1 0 75%
			+respond-to(xs)
				flex: 1 0 100%
				// margin-bottom: 15px

			.gform_fields
				li.gfield
					width: 100%
					margin: 0
					padding: 0

					label.gfield_label
						display: none


					.ginput_container
						width: 100%
						padding: 0
						margin: 0 !important
						
						input[type="text"]
							width: 100%
							margin: 0 !important
							padding: 5px 10px
							// background-color: $accent-medium
							height: 46px
							// border: none
							
							color: $white
							+respond-to(above-xs)
								border-right: none
								border-top-left-radius: $btn-b-rad
								border-bottom-left-radius: $btn-b-rad
							+respond-to(xs)
								text-align: center

								color: #ffffff !important
		
		.gform_footer
			margin: 0
			padding: 0
			flex: 1 0 25%
			+respond-to(xs)
				flex: 1 0 100%
				// margin-top: 15px

			input[type="submit"].gform_button.button
				width: 100%
				margin: 0
				padding: 0
				+respond-to(above-xs)
					border-top-left-radius: 0 !important
					border-bottom-left-radius: 0 !important
	
	&.gform_validation_error
		.validation_error
			display: none !important

		.gform_body
			.gform_fields
				li.gfield
					margin-top: 0 !important
		.gform_footer
			+respond-to(xs)
				margin-top: 15px



// HIDE FORM LABELS
// APPLY CLASS TO FORM CONTAINER "hide-form-labels"
.hide-form-labels
	.gform_wrapper .top_label .gfield_label, 
	.gform_wrapper legend.gfield_label
		display: none !important

	.gform_wrapper
		.gform_body
			.gform_fields
				li.gfield
					.ginput_container
						margin-top: 0 !important
						