// RESETS
// OVERLAYS
// VERSION 0.1
// Lorem ipsum dolor sit amet, consectetur adipisicing elit.



// DIVI OVERLAYS
body
	.overlay-container
		.overlay
			overflow-x: hidden
			
			.overlay-close
				top: 15px
				right: 20px
