// UTILITIES
// TYPOGRAPHY
// VERSION 0.1
// TYPOGRAPHY-SPECIFIC HELPER CLASSES

// ACCENT TEXT COLOR
body
	.text-accent
		color: $accent !important

// CARDS
body
	
	// PREHEADER
	.card-preheader
		font-family: $title-ff !important

		&.large
			font-size: 2rem