// UTILITIES
// COLUMNS
// VERSION 0.1
// Lorem ipsum dolor sit amet, consectetur adipisicing elit.



// COLUMN DROPSHADOW
// APPLY CLASS TO COLUMN "column-dropshadow"
.column-dropshadow
	box-shadow: $ui-box-shadow


// COLUMN OUTLINE
// APPLY CLASS TO COLUMN "column-outline"
.outline-column
	border-width: $ui-element-border-width
	border-style: $ui-element-border-style
	border-color: $ui-element-border-color
	border-radius: $ui-element-border-radius
	padding: 60px


// COLUMN HEIGHT MATCH
// APPLY CLASS TO ROW "column-height-match"
.column-height-match
	.et_pb_column
		+respond-to(above-xs)
			// display: flex
			// justify-content: center
			// flex-direction: column

	// COLUMN CONTENTVERTICAL CENTERING
	// ASSUMES ROW HAS EQUAL HEIGHT COLUMNS ENABLED
	// APPLY CLASS TO ROW "column-content-v-center"
	&.column-content-v-center
		.et_pb_column
			+respond-to(above-xs)
				display: flex
				justify-content: center
				flex-direction: column
			

// COLUMN OVERLAP
// APPLY CLASS TO COLUMN "column-overlap-top-right"
.column-overlap-top-right
	+respond-to(above-xs)
		position: absolute
		top: 0
		right: 0


// COLUMN ORDER REVERSAL
// ASSUMES GUTTER SIZE 3
// APPLY CLASS TO ROW "column-overlap-top-right"
.column-reverse-order

	// EQUAL HEIGHT COLUMNS
	// ROW HAS EQUAL HEIGHT COLUMNS ENABLED
	&.et_pb_row.et_pb_equal_columns,
	.et_pb_section.et_pb_equal_columns > &.et_pb_row
		 > .et_pb_column
		 	+respond-to(above-xs)
			 	&:nth-child(1)
			 		order: 2
			 		margin-right: 0 !important
			 	&:nth-child(2)
			 		order: 1
			 		margin-right: 5.5% !important

	// NON EQUAL HEIGHT COLUMNS
	// ROW HAS EQUAL HEIGHT COLUMNS DISABLED
	&.et_pb_row:not(.et_pb_equal_columns),
	.et_pb_section:not(.et_pb_equal_columns) > &.et_pb_row
		.et_pb_column
			+respond-to(above-xs)
				&:nth-child(1)
					float: right
					margin-right: 0 !important
				&:nth-child(2)
					order: 1
					margin-right: 5.5% !important