// MIXINS - MEDIA QUERIES
@mixin respond-to($media) 
	@if $media == xs 
		@media only screen and (max-width: 575px) 
			@content

	@else if $media == sm
		@media only screen and (min-width: 576px) and (max-width: 767px)
			@content

	@else if $media == below-md
		@media only screen and (max-width: 767px)
			@content

	@else if $media == md
		@media only screen and (min-width: 768px) and (max-width: 991px)
			@content

	@else if $media == lg
		@media only screen and (min-width: 992px) and (max-width: 1199px)
			@content

	@else if $media == below-xl
		@media only screen and (max-width: 1199px)
			@content

	@else if $media == xl
		@media only screen and (min-width: 1200px)
			@content


// MIXINS - BUTTONS
@mixin btn($type)
	// BUTTONS - STANDARD
	@if $type == std
		background: $btn-bg !important
		background-color: $btn-bg !important
		color: $btn-c !important
		border: $btn-b !important
		padding: $btn-pad !important
		border-radius: $btn-b-rad !important
		font-family: $btn-ff !important
		font-size: $btn-fsi !important
		line-height: $btn-lh !important
		font-weight: $btn-fw !important
		letter-spacing: $btn-ltrspc !important
		opacity: $btn-o !important
		cursor: $btn-cursor !important
		transition: $btn-transition !important

	// BUTTONS - STANDARD HOVER
	@else if $type == std-hover
		background: $btn-sh-bg !important
		background-color: $btn-sh-bg !important
		color: $btn-sh-c !important
		border: $btn-sh-b !important
		padding: $btn-pad !important
		border-radius: $btn-b-rad !important
		font-family: $btn-ff !important
		line-height: $btn-lh !important
		font-size: $btn-fsi !important
		font-weight: $btn-fw !important
		letter-spacing: $btn-ltrspc !important
		opacity: $btn-o !important


	// BUTTONS - SMALL
	@else if $type == small
		font-size: $btn-small-fsi !important
		padding: $btn-small-pad !important
		line-height: $btn-small-lh !important
		border-radius: $btn-small-b-rad !important
		min-height: $btn-small-mh !important
		height: $btn-small-h !important



	// BUTTONS - STANDARD LIGHT
	@if $type == std-light
		background-color: $btn-light-bg !important
		color: $btn-light-c !important
		border: $btn-light-b !important
		padding: $btn-pad !important
		border-radius: $btn-b-rad !important
		font-family: $btn-ff !important
		font-size: $btn-fsi !important
		line-height: $btn-lh !important
		font-weight: $btn-fw !important
		letter-spacing: $btn-ltrspc !important
		opacity: $btn-o !important
		cursor: $btn-cursor !important
		transition: $btn-transition !important

	// BUTTONS - STANDARD LIGHT HOVER
	@else if $type == std-light-hover
		background-color: $btn-slh-bg !important
		color: $btn-slh-c !important
		border: $btn-slh-b !important
		padding: $btn-pad !important
		border-radius: $btn-b-rad !important
		font-family: $btn-ff !important
		font-size: $btn-fsi !important
		line-height: $btn-lh !important
		font-weight: $btn-fw !important
		letter-spacing: $btn-ltrspc !important
		opacity: $btn-o !important



	// BUTTONS - OUTLINE
	@else if $type == outline
		background-color: $btn-o-bg !important
		color: $btn-o-c !important
		border: $btn-o-b !important
		padding: $btn-pad !important
		border-radius: $btn-b-rad !important
		font-family: $btn-ff !important
		font-size: $btn-fsi !important
		line-height: $btn-lh !important
		font-weight: $btn-fw !important
		letter-spacing: $btn-ltrspc !important
		opacity: $btn-o !important
		cursor: $btn-cursor !important
		transition: $btn-transition !important
	
	// BUTTONS - OUTLINE HOVER
	@else if $type == outline-hover
		background-color: $btn-oh-bg !important
		color: $btn-oh-c !important
		border: $btn-oh-b !important
		padding: $btn-pad !important
		border-radius: $btn-b-rad !important
		font-family: $btn-ff !important
		font-size: $btn-fsi !important
		line-height: $btn-lh !important
		font-weight: $btn-fw !important
		letter-spacing: $btn-ltrspc !important
		opacity: $btn-o !important
		cursor: $btn-cursor !important



	// BUTTONS - OUTLINE LIGHT
	@else if $type == light-outline
		background-color: $btn-lo-bg !important
		color: $btn-lo-c !important
		border: $btn-lo-b !important
		padding: $btn-pad !important
		border-radius: $btn-b-rad !important
		font-family: $btn-ff !important
		font-size: $btn-fsi !important
		line-height: $btn-lh !important
		font-weight: $btn-fw !important
		letter-spacing: $btn-ltrspc !important
		opacity: $btn-o !important
		cursor: $btn-cursor !important
		transition: $btn-transition !important
	
	// BUTTONS - OUTLINE LIGHT HOVER
	@else if $type == light-outline-hover
		background-color: $btn-loh-bg !important
		color: $btn-loh-c !important
		border: $btn-loh-b !important
		padding: $btn-pad !important
		border-radius: $btn-b-rad !important
		font-family: $btn-ff !important
		font-size: $btn-fsi !important
		line-height: $btn-lh !important
		font-weight: $btn-fw !important
		letter-spacing: $btn-ltrspc !important
		opacity: $btn-o !important
		cursor: $btn-cursor !important



	// BUTTONS - GRADIENT
	@if $type == grad
		color: $btn-c !important
		border: $btn-b !important
		padding: $btn-pad !important
		border-radius: $btn-b-rad !important
		font-family: $btn-ff !important
		font-size: $btn-fsi !important
		line-height: $btn-lh !important
		font-weight: $btn-fw !important
		letter-spacing: $btn-ltrspc !important
		opacity: $btn-o !important
		cursor: $btn-cursor !important
		transition: $btn-transition !important
		background: #fff !important
		background-color: #fff !important
		//background-image: linear-gradient(135deg, transparent 0%, #f45c64 33%, #fb7545 66%, #ffad14 100%) !important
		background-image: linear-gradient(315deg,#f84470 0%,#f45c64 33%,#fb7545 66%,#ffad14 100%)!important
		background-size: 150% 150% !important
		background-position: 0% 0% !important

	// BUTTONS - GRADIENT HOVER
	@else if $type == grad-hover
		color: $btn-sh-c !important
		border: $btn-sh-b !important
		padding: $btn-pad !important
		border-radius: $btn-b-rad !important
		font-family: $btn-ff !important
		line-height: $btn-lh !important
		font-size: $btn-fsi !important
		font-weight: $btn-fw !important
		letter-spacing: $btn-ltrspc !important
		opacity: $btn-o !important
		background: #fff !important
		background-color: #fff !important
		background-image: linear-gradient(135deg, transparent 0%, #f45c64 33%, #fb7545 66%, #ffad14 100%) !important
		background-size: 150% 150% !important
		background-position: 100% 0% !important


// MIXINS - TYPOGRAPHY
@mixin h0-styling
	@if $h0-overrides
		font-size: nth($h0-overrides,1) !important
		line-height: nth($h0-overrides,2) !important
		font-family: nth($h0-overrides,3) !important
		font-weight: nth($h0-overrides,4) !important
		color: nth($h0-overrides,5) !important
		text-transform: nth($h0-overrides,6) !important
		letter-spacing: nth($h0-overrides,7) !important
	@else
		font-size: nth($h0-defaults,1) !important
		line-height: nth($h0-defaults,2) !important
		font-family: nth($h0-defaults,3) !important
		font-weight: nth($h0-defaults,4) !important
		color: nth($h0-defaults,5) !important
		text-transform: nth($h0-defaults,6) !important
		letter-spacing: nth($h0-defaults,7) !important

@mixin h1-styling
	@if $h1-overrides
		font-size: nth($h1-overrides,1) !important
		line-height: nth($h1-overrides,2) !important
		font-family: nth($h1-overrides,3) !important
		font-weight: nth($h1-overrides,4) !important
		color: nth($h1-overrides,5) !important
		text-transform: nth($h1-overrides,6) !important
		letter-spacing: nth($h1-overrides,7) !important
	@else
		font-size: nth($h1-defaults,1) !important
		line-height: nth($h1-defaults,2) !important
		font-family: nth($h1-defaults,3) !important
		font-weight: nth($h1-defaults,4) !important
		color: nth($h1-defaults,5) !important
		text-transform: nth($h1-defaults,6) !important
		letter-spacing: nth($h1-defaults,7) !important

@mixin h2-styling
	@if $h2-overrides
		font-size: nth($h2-overrides,1) !important
		line-height: nth($h2-overrides,2) !important
		font-family: nth($h2-overrides,3) !important
		font-weight: nth($h2-overrides,4) !important
		color: nth($h2-overrides,5) !important
		text-transform: nth($h2-overrides,6) !important
		letter-spacing: nth($h2-overrides,7) !important
	@else
		font-size: nth($h2-defaults,1) !important
		line-height: nth($h2-defaults,2) !important
		font-family: nth($h2-defaults,3) !important
		font-weight: nth($h2-defaults,4) !important
		color: nth($h2-defaults,5) !important
		text-transform: nth($h2-defaults,6) !important
		letter-spacing: nth($h2-defaults,7) !important

@mixin h3-styling
	@if $h3-overrides
		font-size: nth($h3-overrides,1) !important
		line-height: nth($h3-overrides,2) !important
		font-family: nth($h3-overrides,3) !important
		font-weight: nth($h3-overrides,4) !important
		color: nth($h3-overrides,5) !important
		text-transform: nth($h3-overrides,6) !important
		letter-spacing: nth($h3-overrides,7) !important
	@else
		font-size: nth($h3-defaults,1) !important
		line-height: nth($h3-defaults,2) !important
		font-family: nth($h3-defaults,3) !important
		font-weight: nth($h3-defaults,4) !important
		color: nth($h3-defaults,5) !important
		text-transform: nth($h3-defaults,6) !important
		letter-spacing: nth($h3-defaults,7) !important

@mixin h4-styling
	@if $h4-overrides
		font-size: nth($h4-overrides,1) !important
		line-height: nth($h4-overrides,2) !important
		font-family: nth($h4-overrides,3) !important
		font-weight: nth($h4-overrides,4) !important
		color: nth($h4-overrides,5) !important
		text-transform: nth($h4-overrides,6) !important
		letter-spacing: nth($h4-overrides,7) !important
	@else
		font-size: nth($h4-defaults,1) !important
		line-height: nth($h4-defaults,2) !important
		font-family: nth($h4-defaults,3) !important
		font-weight: nth($h4-defaults,4) !important
		color: nth($h4-defaults,5) !important
		text-transform: nth($h4-defaults,6) !important
		letter-spacing: nth($h4-defaults,7) !important

@mixin h5-styling
	@if $h5-overrides
		font-size: nth($h5-overrides,1) !important
		line-height: nth($h5-overrides,2) !important
		font-family: nth($h5-overrides,3) !important
		font-weight: nth($h5-overrides,4) !important
		color: nth($h5-overrides,5) !important
		text-transform: nth($h5-overrides,6) !important
		letter-spacing: nth($h5-overrides,7) !important
	@else
		font-size: nth($h5-defaults,1) !important
		line-height: nth($h5-defaults,2) !important
		font-family: nth($h5-defaults,3) !important
		font-weight: nth($h5-defaults,4) !important
		color: nth($h5-defaults,5) !important
		text-transform: nth($h5-defaults,6) !important
		letter-spacing: nth($h5-defaults,7) !important

@mixin h6-styling
	@if $h6-overrides
		font-size: nth($h6-overrides,1) !important
		line-height: nth($h6-overrides,2) !important
		font-family: nth($h6-overrides,3) !important
		font-weight: nth($h6-overrides,4) !important
		color: nth($h6-overrides,5) !important
		text-transform: nth($h6-overrides,6) !important
		letter-spacing: nth($h6-overrides,7) !important
	@else
		font-size: nth($h6-defaults,1) !important
		line-height: nth($h6-defaults,2) !important
		font-family: nth($h6-defaults,3) !important
		font-weight: nth($h6-defaults,4) !important
		color: nth($h6-defaults,5) !important
		text-transform: nth($h6-defaults,6) !important
		letter-spacing: nth($h6-defaults,7) !important




// MIXINS - CARDS
@mixin card($type)

	// DEFAULT
	@if $type == std
		box-shadow: $ui-box-shadow
		border-radius: $ui-element-border-radius
		background-color: $white
		border: 0px solid transparent


// MIXINS - INPUTS
@mixin input($type)
	
	// LABEL
	@if $type == label-margin
		color: $grey4
		background-color: transparent
		display: block
		width: 100%
		margin: 10px 15px 0 !important
		padding: 0 !important
		font-size: 10px
		line-height: 1.5
		font-weight: 700
		text-transform: uppercase

	@else if $type == label-padding
		color: $grey4
		background-color: transparent
		display: block
		width: 100%
		margin: 0 !important
		padding: 10px 15px 0 !important
		font-size: 10px
		line-height: 1.5
		font-weight: 700
		text-transform: uppercase

	// INPUT
	@if $type == input-margin
		display: block
		width: 100%
		margin: 7px 15px 10px !important
		padding: 0 !important
		font-size: 15px
		line-height: 1.5
		height: auto

	@else if $type == input-padding
		display: block
		width: 100%
		margin: 0 !important
		padding: 7px 15px 10px !important
		font-size: 15px
		line-height: 1.5
		height: auto

	@else if $type == wrapper
		padding: 0
		background-color: $white
		border: $form-input-b
		border-radius: $ui-element-border-radius

	@else if $type == wrapper-top
		padding: 0
		background-color: $white
		border: $form-input-b !important
		border-bottom: 0px solid transparent !important
		border-top-left-radius: $ui-element-border-radius !important
		border-top-right-radius: $ui-element-border-radius !important

	@else if $type == wrapper-bottom
		padding: 0
		background-color: $white
		border: $form-input-b !important
		border-top: 0px solid transparent !important
		border-bottom-left-radius: $ui-element-border-radius !important
		border-bottom-right-radius: $ui-element-border-radius !important



