// IMPORTS
@import global
@import project/project-variables
@import components/components-typography
@import utilities/utilities-typography
@import project/project-specific
@import project/checkout
@import project/payment-methods
@import project/wordpress-login
@import project/order-received


@font-face
	font-family: element-icons
	src: url('../../fonts/element-ui/element-icons.woff') format("woff"), url('../../fonts/element-ui/element-icons.ttf') format("truetype")
	font-weight: 400
	font-display: "auto"
	font-style: normal























			
