// PROJECT/WORDPRESS-LOGIN
// WORDPRESS LOGIN PAGE STYLING

// PROJECT/WORDPRESS-LOGIN
// WORDPRESS LOGIN PAGE STYLING

// SPECIFIC LAYOUT - LOGIN PAGE
body
	.auth-layout
		min-height: 100vh

		.user-avatar
			img
				display: block
				margin: 0 auto
				width: 200px
				border-radius: 50%


// SPECIFIC LAYOUT - ONBOARDING
body
	.onboard-layout
		min-height: 100vh

// LOGIN PAGE
body
	.main-content
		> #page-login, 
		> #page-onboard-set-password, 
		> #page-detail
			&:before
				display: none !important
	

	#page-login, #page-onboard-set-password, #page-detail

		// LOGO
		#flyrise_logo
			margin: 0 auto 25px
			width: 160px
			height: auto
			display: none !important

		#logoContainer
			&:before
				content: ''
				display: block
				position: static
				height: 40px
				width: 150px
				background-image: url('/ridgecap-by-flyrise-logo-w40.png')
				background-size: contain
				background-position: center
				background-repeat: no-repeat
				margin: 25px auto 25px

		// // ERRORS
		// #login_error
		// 	border: 0px solid transparent !important
		// 	box-shadow: none !important
		// 	background-color: transparent !important
		// 	+h5-styling
		// 	text-align: center
		// 	margin-bottom: 0
		// 	padding: 12px

		// 	strong
		// 		font-weight: bolder

		// // CARD
		// .card
		// 	margin-top: 20px

		// // LOGIN FORM
		// #login
		// 	.form-group
		// 		+input(wrapper)
		// 		margin-bottom: 1rem

		// 		label
		// 			+input(label)
		// 			text-align: center
				
		// 		input.form-control
		// 			+input(input-padding)
		// 			padding: 0 !important
		// 			background-color: transparent !important
		// 			text-align: center


		// RESET PW HTML
		#resetpw
			form#lostpasswordform
				margin-bottom: 0

				fieldset
					legend
						display: none !important

					.somfrp-lost-pass-form-text
						text-align: center

					> .no-margin
						+input(wrapper)
						margin-bottom: 1rem
						overflow: hidden

					label
						+input(label-padding)
						text-align: center
					input
						+input(input-padding)
						border: none !important
						text-align: center

						&:focus
							outline: none

					.lostpassword-submit
						text-align: center
						margin-bottom: 0

						button[type="submit"]
							+btn(std)
							&:hover
								+btn(std-hover)


		// PW RESET LINK
		p#nav
			text-align: center
			+h5-styling

			> a
				font-size: inherit
				font-weight: inherit
				font-style: normal
				text-decoration: none
				color: $accent
				letter-spacing: inherit

		// .login-reset-pw
		// 	text-decoration: underline
		// 	cursor: pointer

		// 	&:hover
		// 		color: $green


// VUE-BASED LOGIN
body.vue-login #loginLayout #page-login
	#login_error
		padding: 12px
		margin-bottom: 20px

	#loginCard
		+card(std)

		.card-header
			text-align: center
			display: block
			font-size: 24px
			font-weight: 700
			line-height: 1

		label[for="username"], label[for="password"]
			box-sizing: border-box
			text-align: center

		input#username, input#password
			color: $grey4
			display: block
			width: 100%
			border: 0px solid transparent
			background-color: transparent
			background: transparent
			border-radius: 0
			padding: 0
			height: auto
			font-size: 15px
			line-height: 1.5
			margin: 0
			text-align: center



// WORDPRESS LOGIN
body.login.login-action-login.wp-core-ui #login
	
	form#loginform

		&:before
			content: 'Dashboard Login'

		p.forgetmenot
			display: flex
			justify-content: center
			align-items: center
			float: none


// RESET PASSWORD
body.login.login-action-lostpassword.wp-core-ui #login
	
	> p.message
		display: none !important

	form#lostpasswordform

		&:before
			content: 'Reset Password'

		> p:first-child
			&:before
				content: 'Please enter your username or email address. You will receive an email message with instructions on how to reset your password.'
				display: block
				text-align: center
				+h5-styling
				margin-bottom: 1.5rem
				text-transform: none !important
				


// CHECK EMAIL
body.login.login-action-checkemail.wp-core-ui #login


// CREATE NEW PASSWORD
body.login.login-action-rp.wp-core-ui #login
	
	> p.message.reset-pass
		display: none !important
	
	form#resetpassform

		&:before
			content: 'Enter New Password'

		.user-pass1-wrap
			&:before
				content: 'Hint: The password should be at least twelve characters long. To make it stronger, use upper and lower case letters, numbers, and symbols like ! " ? $ % ^ & ).'
				display: block
				text-align: center
				+h5-styling
				margin-bottom: 1.5rem
				text-transform: none !important

			> .wp-pwd
				#pass-strength-result
					margin: 0
					padding: 0
					border: 0px solid transparent
					background-color: transparent
					background: transparent
					margin: 15px 0
					+h5-styling

					&.strong
						color: $green !important

					&.short, &.bad
						color: $orange !important

					&.good
						color: $yellow !important

					&:before
						content: 'Strength: '

					&.empty
						display: none !important

			> .pw-weak
				display: flex
				justify-content: center
				align-items: center
				float: none
				text-align: center

		p.description.indicator-hint
			+h5-styling
			text-align: center
			display: none !important

		br.clear
			display: none !important


// WORDPRESS WP-LOGIN FLEX LAYOUT
body.login, body.login.wp-core-ui
	height: 100%
	display: flex
	flex-flow: row wrap
	align-items: center
	justify-content: center
	width: 100%
	max-width: 1140px
	margin: 0 auto

	#login
		padding-top: 0
		display: flex
		justify-content: center
		flex-flow: row wrap
		flex: 0 0 33.33333%
		max-width: 33.33333%
		padding: 0 15px

		> h1, > #loginform, > #resetpassform, > #lostpasswordform, > p#nav, > p#backtoblog, > #login_error
			width: 100%

		h1 a
			background-image: url('/ridgecap-by-flyrise-logo-w40.png')
			background-size: contain
			width: 150px
			height: 40px


// WORDPRESS WP-LOGIN FLEX LAYOUT
body.login, body.login.wp-core-ui, body.vue-login
	
	#login, #loginLayout

		p#backtoblog, p#nav
			text-align: center
			+h5-styling


			> a
				font-size: inherit
				font-weight: inherit
				font-style: normal
				text-decoration: none
				color: $accent
				letter-spacing: inherit

		p.message, #login_error
			border: 0px solid transparent !important
			box-shadow: none !important
			background-color: transparent !important
			+h5-styling
			text-align: center
			margin-bottom: 0
			text-transform: none !important

			strong
				font-weight: bolder !important

		form#lostpasswordform, form#loginform, form#resetpassform
			+card(std)

			&:before
				text-align: center
				display: block
				font-size: 24px
				font-weight: 700
				line-height: 1
				margin-bottom: 1rem !important

			label[for="pass1"], label[for="pass2"], label[for="user_login"], label[for="user_pass"]
				+input(wrapper-top)
				+input(label-padding)
				box-sizing: border-box
				text-align: center

			input#pass1, input#pass2, input#user_login, input#user_pass
				color: $grey4
				display: block
				width: 100%
				border: 0px solid transparent
				background-color: transparent
				background: transparent
				border-radius: 0
				padding: 0
				height: auto
				font-size: 15px
				line-height: 1.5
				margin: 0
				text-align: center
				+input(wrapper-bottom)
				+input(input-padding)
				margin-bottom: 1rem !important

				&:focus
					box-shadow: none !important
					outline: none !important
					background: #fff !important
					background-color: #fff !important

				&:-webkit-autofill,
				&:-webkit-autofill:hover,
				&:-webkit-autofill:focus,
				&:-webkit-autofill:active,
				&:-internal-autofill-selected
					box-shadow: 0 0 0px 1000px #fff inset !important
					background: #fff !important
					background-color: #fff !important

				&:-internal-autofill-selected
					background-color: #fff !important
					appearance: textfield !important
					background: #fff !important

			p.submit
				margin-top: 1.5rem
				text-align: center
				display: block
				float: none

				input[type="submit"], input[type="submit"].button-primary
					margin: 0 auto
					float: none
					box-shadow: none !important
					z-index: 1
					position: relative
					+btn(std)

					&:hover
						transform: none !important
						+btn(std-hover)

					&:focus
						outline: none !important

					&:disabled, &[disabled]
						+btn(std)
						background: $grey2 !important
						background-color: $grey2 !important
						color: $grey3 !important

						&:hover
							+btn(std-hover)
							background: $grey2 !important
							background-color: $grey2 !important
							color: $grey3 !important


	
// VUE-BASED ONBOARDING
body.vue-login #page-onboard-set-password,
body.vue-login #page-detail,
body #loginLayout #page-detail
	#login_error
		padding: 12px
		margin-bottom: 20px
		border: 0px solid transparent !important
		box-shadow: none !important
		background-color: transparent !important
		+h5-styling
		text-align: center
		text-transform: none !important

	#loginCard div#accountdetailspage > .text-center
		margin-top: 1.5rem

	#loginCard div#changepassfields,
	#loginCard div#accountdetailspage

		.card-header
			text-align: center
			display: block
			font-size: 24px
			font-weight: 700
			line-height: 1

		label[for="setPassword"], label[for="confirmPassword"], label[for="showUsername"]
			box-sizing: border-box
			text-align: center
		
		label[for="billingFirstName"], label[for="billingLastName"], label[for="billingEmail"], label[for="phone"], label[for="billing_address1"], label[for="billing_address2"], label[for="billing_city"], label[for="billing_zip"], 
		label[for="shippig_address1"], label[for="shipping_address2"], label[for="shipping_city"], label[for="shipping_zip"],
		label[for="billing_country"], label[for="billing_state"], label[for="shipping_country"], label[for="shipping_state"]
			box-sizing: border-box
			text-align: left

		input#setPassword, input#confirmPassword, input#showUsername
			color: $grey4
			display: block
			width: 100%
			border: 0px solid transparent
			background-color: transparent
			background: transparent
			border-radius: 0
			padding: 0
			height: auto
			font-size: 15px
			line-height: 1.5
			margin: 0
			text-align: center

		input#billingFirstName, input#billingLastName, input#billingEmail, input#phone, input#billing_address1, input#billing_address2, input#billing_city, input#billing_zip, 
		input#shippig_address1, input#shipping_address2, input#shipping_city, input#shipping_zip
			color: $grey4
			display: block
			width: 100%
			border: 0px solid transparent
			background-color: transparent
			background: transparent
			border-radius: 0
			padding: 0
			height: auto
			font-size: 15px
			line-height: 1.5
			margin: 0
			text-align: left

		.form-group.contains-select
			.el-select
				.el-input
					input.el-input__inner
						color: $grey4
						display: block
						width: 100%
						border: 0px solid transparent
						background-color: transparent
						background: transparent
						border-radius: 0
						padding: 0
						height: auto
						font-size: 15px
						line-height: 1.5
						margin: 0
						text-align: left

		.disabled-form-group > .form-group
			background-color: #e3e3df




// GENERAL
body #loginLayout
	padding: 60px 0

	.main-content > div:before
		display: none !important
		border-bottom: 0px solid transparent !important













