// PROJECT SPECIFIC STYLING
// STYLING FOR WOOCOMMERCE EMAILS
// COPY COMPILED CSS INTO /wp-content/themes/midas-dashboard/woocommerce/emails/email-styles.php
// VERSION 1.0

$navy: #161436
$light-yellow: #f8f8f5
$light-navy: #F7F8FB
$white: #ffffff
$pink: #F84470


// RIDGECAP COLORS - OVERRIDES
$light-purple: #4f5d75
$dark-purple: #2d3142
$dark: #2d3142
$light-yellow: #efeee6
$accent: #ef8354
$navy: #4f5d75
$darknavy: #2d3142

@mixin navybggradient
	background: rgb(22,20,54);
	background: -moz-linear-gradient(135deg, rgba(22,20,54,1) 0%, rgba(22,20,53,1) 100%);
	background: -webkit-linear-gradient(135deg, rgba(22,20,54,1) 0%, rgba(22,20,53,1) 100%);
	background: linear-gradient(135deg, rgba(22,20,54,1) 0%, rgba(22,20,53,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#161436",endColorstr="#161435",GradientType=1);

@mixin flyrisebggradient
	background: rgb(248,68,112)
	background: -moz-linear-gradient(135deg, rgba(248,68,112,1) 50%, rgba(251,117,69,1) 85%)
	background: -webkit-linear-gradient(135deg, rgba(248,68,112,1) 50%, rgba(251,117,69,1) 85%)
	background: linear-gradient(135deg, rgba(248,68,112,1) 50%, rgba(251,117,69,1) 85%)
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f84470",endColorstr="#fb7545",GradientType=1)


@mixin typography-body
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !important
	font-size: 14px !important
	font-weight: 400 !important
	line-height: 150% !important

@mixin typography-body-medium
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !important
	font-size: 20px !important
	font-weight: 400 !important
	line-height: 150% !important

@mixin typography-h1
	font-family: 'Bebas Neue', sans-serif !important
	font-size: 42px !important
	font-weight: 700 !important
	line-height: 150% !important

@mixin typography-h2
	font-family: 'Bebas Neue', sans-serif !important
	font-size: 20px !important
	font-weight: 700 !important
	line-height: 130% !important

@mixin typography-h3
	font-family: 'Bebas Neue', sans-serif !important
	font-size: 14px !important
	font-weight: 700 !important
	line-height: 130% !important


#top-gradient-bar
	background-color: $accent !important
	background: $accent !important
	#top-spacer-wrapper
		background-color: $accent !important
		background: $accent !important
		#top-spacer
			background-color: $accent !important
			background: $accent !important


#wrapper
	background-color: $light-yellow

	#flyrise-header
		background-color: $light-yellow

		#flyrise-header-content-wrap
			margin: 60px 0 0

			#flyrise-header-content
				#flyrise-header-logo
					margin-left: 48px
					> p
						margin-bottom: 0

				#flyrise-header-intro
					margin-right: 48px
					+typography-body
					color: $darknavy

				#flyrise-header-headline
					+typography-h1
					color: $darknavy !important
					margin: 60px 48px 15px !important

				#flyrise-header-headline-after
					+typography-body-medium
					color: $darknavy
					margin: 0 48px 80px !important

#template_container
	#template_body
		height: 100% !important
		// margin-left: 15px !important
		// margin-right: 15px !important

#body_content
	> table
		// padding-right: 15px !important
		// padding-left: 15px !important

	#body_content_inner
		padding-top: 40px !important

		h1
			+typography-h1
		h2
			+typography-h2
		h2 a
			+typography-h2
			font-weight: inherit !important
		h3
			+typography-h3

		table, th, td
			border: 0px solid transparent !important
			border-collapse: collapse
			+typography-body
			color: $darknavy

		table th
			background-color: $light-yellow
			font-weight: 700

		table#address
			width: 100%


#flyrise-footer
	background-color: $light-yellow !important

	#flyrise-footer-content-wrap
		margin: 0 0 60px

		#flyrise-footer-content
			#flyrise-footer-logo
				margin: 60px 0 60px

			#flyrise-footer-copyright
				+typography-body
				color: $darknavy !important

