// COMPONENTS
// FORMS
// VERSION 0.1
// Lorem ipsum dolor sit amet, consectetur adipisicing elit.


// GRAVITY FORMS
// VALIDATION ERROR
body
	.gform_wrapper.gform_validation_error
		.validation_error
			border: none
			margin: 0
			padding: 0
			text-align: left

		.gform_body
			ul li.gfield.gfield_error
				background-color: transparent
				margin-bottom: 0 !important

				label.gfield_label
					margin-top: 0 !important

				.ginput_container
					.instruction.validation_message
						margin-bottom: -10px !important

				.validation_message
					padding: 0px 0 0 !important

				&:not(.gf_left_half):not(.gf_right_half)
					padding: 0 !important
					border: none !important
					width: 100% !important
					max-width: 100% !important

				&.gf_left_half, &.gf_right_half
					margin-left: 0 !important
					margin-right: 0 !important
					padding-top: 0 !important
					padding-bottom: 0 !important
					border: none !important
					width: 50% !important
					max-width: 50% !important
					
					+respond-to(xs)
						width: 100% !important
						max-width: 100% !important