// PROJECT/CHECKOUT
// CHECKOUT PAGE STYLING

body, body.woocommerce-checkout
	> main
		> .woocommerce

			// CHECKOUT LOGO
			.checkout-header
				margin-bottom: 2rem
				display: flex
				width: 100%
				justify-content: space-between
				align-items: flex-end

				h1.card-preheader
					margin-bottom: 0
					line-height: 1
					color: $dark-purple !important

				.checkout-logo
					height: 40px
					width: 40px
					margin-bottom: 0

			// NOTICES AND MESSAGES
			> .woocommerce-notices-wrapper
				.woocommerce-message, .woocommerce-info
					border: 0px solid transparent
					background-color: $accent
					border-radius: $ui-element-border-radius
					color: $white

					&:before
						color: $white
			
			// ERROR
			> ul.woocommerce-error
				// border: 0px solid transparent
				// background-color: $accent
				// border-radius: $ui-element-border-radius
				// color: $white
				// &:before
				// 	color: $white

			// COUPON FORM
			> .woocommerce-form-coupon-toggle, 
			> .checkout_coupon.woocommerce-form-coupon
				display: none !important

			// CHECKOUT FORM
			> form.checkout.woocommerce-checkout

				// ERRORS
				> .woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout
					flex: 1 0 100%

				// CUSTOMER INFO
				> #customer_details
					.woocommerce-billing-fields,
					.woocommerce-shipping-fields,
					.woocommerce-additional-fields
						.woocommerce-billing-fields__field-wrapper,
						.woocommerce-shipping-fields__field-wrapper,
						.woocommerce-additional-fields__field-wrapper

							p.form-row
								padding: 0

								label
									color: $grey4
									background-color: transparent
									display: block
									width: 100%
									margin: 10px 15px 0
									font-size: 10px
									line-height: 1.5
									font-weight: 700
									text-transform: uppercase

								.woocommerce-input-wrapper
									display: block
									width: 100%
									margin: 7px 15px 10px !important
									margin: 0
									font-size: 15px
									line-height: 1.5
									height: auto

									// STANDARD INPUT
									input.form-control, textarea.form-control
										color: $grey4
										display: block
										width: 100%
										border: 0px solid transparent
										background-color: transparent
										border-radius: 0
										padding: 0
										height: auto
										font-size: 15px
										line-height: 1.5
										margin: 0
										// margin: 7px 15px 10px

										&:focus
											box-shadow: none
											outline: none

									// SELECT2
									.select2-container--default
										display: block
										height: auto
										font-size: 15px
										line-height: 1.5

										.select2-selection--single
											border: 0px solid transparent
											background-color: transparent
											height: auto
											margin-bottom: 0 !important

											&:focus
												box-shadow: none
												outline: none

											.select2-selection__arrow
												height: auto
												font-size: 15px
												line-height: 1.5

												> b
													margin-top: 8px

											.select2-selection__rendered
												padding-left: 0
												line-height: 1.5
												font-size: 15px
												// margin: 7px 15px 10px

												&:focus
													box-shadow: none
													outline: none

								&:last-child
									margin-bottom: 0 !important

						
						// SHIPPING ADDRESS SPACING
						.shipping_address[style*="display: block;"]
							margin-bottom: 6px

			// ORDER REVIEW
			#order_review

				// ORDER REVIEW TABLE
				> table.shop_table
					+card(std)

				// PAYMENT
				> #payment
					background-color: transparent
					border-radius: 0

					> .wc_payment_methods.payment_methods
						+card(std)
						padding: 30px
						margin-bottom: 1rem
						list-style: none

						> li.wc_payment_method
							display: flex
							justify-content: flex-start
							flex-flow: row wrap

							> input[type="radio"]
								height: 24px
								margin-right: 1em

								&:focus
									outline: none !important

							> input[type="radio"]:hover + label
								// opacity: 1

							> .payment_box, > label
								// transition: opacity 0.3s ease 0s
								// opacity: 0.25

							> label
								line-height: 24px
								flex: 1 1 auto
								display: inline-block
								width: auto
								margin-bottom: 0
								font-weight: bold

								img
									max-width: 30px
									padding-left: 0
									margin-left: 3px

								&:hover
									// opacity: 1


							> .payment_box.payment_method_stripe
								// display: none
								padding: 0
								margin: 0
								// margin-top: 1rem
								border-radius: 0
								background-color: transparent
								padding-left: 30px
								flex: 1 0 100%

								&:before
									display: none

								> #payment_box_content_wrapper
									// display: none

									> #stripe-payment-data
										> p
											padding: 0
											margin: 0

										> p:first-of-type
											padding: 0
											margin-bottom: 1rem

										> ul.woocommerce-SavedPaymentMethods.wc-saved-payment-methods
											padding: 0
											margin-bottom: 1rem
											list-style: none

											> li
												font-size: 1rem
												line-height: 2
												margin-bottom: 0.5em

												> input[type="radio"]
													margin-right: 1em

										> fieldset#wc-stripe-cc-form.wc-credit-card-form.wc-payment-form
											+input(wrapper)
											padding: 0
											margin-top: 0
											margin-bottom: 1rem

											> br
												display: none !important

											> label
												+input(label-padding)

											> #stripe-card-element
												+input(input-padding)
												border: 0px solid transparent !important
												background-color: transparent !important

											> .stripe-source-errors
												> ul.woocommerce_error.woocommerce-error.wc-stripe-error
													border: none !important
													padding: 7px 15px 10px !important
													margin: 0 !important
													background-color: transparent !important
													color: $accent !important

													&:before
														display: none !important

										> fieldset:not(#wc-stripe-cc-form)
											border: 0px solid transparent !important
											padding: 0 !important
											margin: 0 !important

											label[for="wc-stripe-new-payment-method"]
												line-height: 1 !important
												margin-left: 0.5rem !important
										
										> p.form-row.woocommerce-SavedPaymentMethods-saveNew
											display: flex
											width: 100%
											justify-content: flex-start
											flex-flow: row nowrap
											align-items: baseline

											> input
												margin-right: 1em
											> label
												line-height: inherit
												margin: 0
							
							> .payment_box.payment_method_plaid
								display: block !important
								padding: 0
								margin: 0
								border-radius: 0
								background-color: transparent
								padding-left: 30px
								flex: 1 0 100%

								&:before
									display: none !important

								> #payment_box_content_wrapper
									// display: none

									> .woocommerce-error


								#plaid-place-order-img
									display: none !important

								.plaid-payment-fields
									> p
										margin-bottom: 0 !important

							&:last-child
								.payment_box
									margin-bottom: 0 !important
									padding-bottom: 0 !important

							&.selected
								.payment_box, > label
									// opacity: 1
							
							
					> .form-row
						+card(std)
						padding: 30px
						margin-bottom: 0

						button[type="submit"]
							// +btn(std)
							// +btn-gradient-bg
							+btn(grad)

							&:hover
								// +btn(std-hover)
								// +btn-gradient-bg-hover
								+btn(grad-hover)






