// PROJECT/ORDER-RECEIVED
// WOOCOMMERCE ORDER-RECEIVED PAGE STYLING

// SPECIFIC LAYOUT - ORDER-RECEIVED PAGE
body.woocommerce-order-received
	.woocommerce-order
		.alert
			margin-bottom: 30px !important
			border: 0px solid transparent !important
			
		.order-overview-wrapper
			+card(std)
			margin-bottom: 30px !important

			ul.order_details
				margin: 0 !important
				padding: 0 !important

				li
					border: 0px solid transparent !important
					font-size: 10px
					font-weight: 900
					color: #2f2d66

		section.woocommerce-order-details
			margin-bottom: 30px !important

			h2.woocommerce-order-details__title
				display: none !important

			table.woocommerce-table.woocommerce-table--order-details.shop_table.order_details
				border: 0px solid transparent !important

				&.el-table
					&:before
						background-color: transparent !important

				thead tr th
					border-top: 0px solid transparent !important
					// padding: 0 !important
					font-size: 10px
					font-weight: 900
					color: #2f2d66

				tbody tr td
					border: 0px solid transparent !important
					// padding: 0 !important

					&.product-name a
						color: inherit !important

						&:hover
							color: inherit !important
							text-decoration: none !important

				tfoot
					tr th
						border: 0px solid transparent !important
						// padding: 0 !important
						padding-left: 0 !important
						font-weight: 400 !important

						strong
							font-weight: 400 !important

					tr td
						border: 0px solid transparent !important
						// padding: 0 !important
						padding-right: 0 !important
						font-weight: 400 !important

						strong
							font-weight: 400 !important



		section.woocommerce-customer-details
			margin-bottom: 30px !important

			h2.woocommerce-column__title
				display: none !important

			address
				border: 0px solid transparent !important
				padding: 0 !important





