// PROJECT/PAYMENT-METHODS
// PAYMENT METHODS PAGE STYLING

body, body.woocommerce-payment-methods, body.woocommerce-add-payment-method
	> main
		> .woocommerce

			.woocommerce-MyAccount-content

				// CHECKOUT LOGO
				.checkout-header
					margin-bottom: 2rem
					display: flex
					width: 100%
					justify-content: space-between
					align-items: flex-end

					h1.card-preheader
						margin-bottom: 0
						line-height: 1
						color: $dark-purple !important

					.checkout-logo
						height: 40px
						width: 40px
						margin-bottom: 0

				// NOTICES AND MESSAGES
				> .woocommerce-notices-wrapper
					.woocommerce-message, .woocommerce-info
						border: 0px solid transparent
						background-color: $accent
						border-radius: $ui-element-border-radius
						color: $white

						&:before
							color: $white
				
				// ERROR
				> ul.woocommerce-error
					border: 0px solid transparent
					background-color: $accent
					border-radius: $ui-element-border-radius
					color: $white
					&:before
						color: $white

				// COUPON FORM
				> .woocommerce-form-coupon-toggle, 
				> .checkout_coupon.woocommerce-form-coupon
					display: none !important


				// ADD PAYMENT METHOD FORM
				#add_payment_method

					// ORDER REVIEW TABLE
					> .payment-wrapper
						+card(std)

						// PAYMENT
						> #payment
							background-color: transparent
							border-radius: 0

							> ul.woocommerce-PaymentMethods.payment_methods.methods
								+card(std)
								padding: 30px
								margin-bottom: 1rem
								list-style: none

								> li.woocommerce-PaymentMethod
									display: flex
									justify-content: flex-start
									flex-flow: row wrap

									> input[type="radio"]
										height: 24px
										margin-right: 1em

										&:focus
											outline: none !important

									> input[type="radio"]:hover + label
										// opacity: 1

									> .payment_box, > label
										// transition: opacity 0.3s ease 0s
										// opacity: 0.25

									> label
										line-height: 24px
										flex: 1 1 auto
										display: inline-block
										width: auto
										margin-bottom: 0
										font-weight: bold

										img
											max-width: 30px
											padding-left: 0
											margin-left: 3px

										&:hover
											// opacity: 1


									> .payment_box.payment_method_stripe
										// display: none
										padding: 0
										margin: 0
										// margin-top: 1rem
										border-radius: 0
										background-color: transparent
										padding-left: 30px
										flex: 1 0 100%

										&:before
											display: none

										> #stripe-payment-data
											> p
												padding: 0
												margin: 0

											> p:first-of-type
												padding: 0
												margin-bottom: 1rem

											> ul.woocommerce-SavedPaymentMethods.wc-saved-payment-methods
												padding: 0
												margin-bottom: 1rem
												list-style: none

												> li
													font-size: 1rem
													line-height: 2
													margin-bottom: 0.5em

													> input[type="radio"]
														margin-right: 1em

											> fieldset#wc-stripe-cc-form.wc-credit-card-form.wc-payment-form
												+input(wrapper)
												padding: 0
												margin-top: 0
												margin-bottom: 1rem

												> br
													display: none !important

												> label
													+input(label-padding)

												> #stripe-card-element
													+input(input-padding)
													border: 0px solid transparent !important
													background-color: transparent !important

												> .stripe-source-errors
													> ul.woocommerce_error.woocommerce-error.wc-stripe-error
														border: none
														padding: 7px 15px 10px !important
														margin: 0
														background-color: transparent
														color: $accent

														&:before
															display: none !important

											> fieldset:not(#wc-stripe-cc-form)
												border: 0px solid transparent !important
												padding: 0 !important
												margin: 0 !important

											> p.form-row.woocommerce-SavedPaymentMethods-saveNew
												display: flex
												width: 100%
												justify-content: flex-start
												flex-flow: row nowrap
												align-items: baseline

												> input
													margin-right: 1em
												> label
													line-height: inherit
													margin: 0
									
									> .payment_box.payment_method_plaid
										display: block !important
										padding: 0
										margin: 0
										border-radius: 0
										background-color: transparent
										padding-left: 30px
										flex: 1 0 100%

										> #payment_box_content_wrapper
											// display: none

										#plaid-place-order-img
											display: none !important

										.plaid-payment-fields
											> p
												margin-bottom: 0 !important

									&:last-child
										.payment_box
											margin-bottom: 0 !important
											padding-bottom: 0 !important

									&.selected
										.payment_box, > label
											// opacity: 1
									
									
							> .form-row
								+card(std)
								padding: 30px
								margin-bottom: 0

								button[type="submit"]
									// +btn(std)
									// +btn-gradient-bg
									+btn(grad)

									&:hover
										// +btn(std-hover)
										// +btn-gradient-bg-hover
										+btn(grad-hover)

				
				// SAVED PAYMENT METHODS
				#saved-methods
					.methods-wrapper
						+card(std)
						
						table.woocommerce-MyAccount-paymentMethods.shop_table.shop_table_responsive.account-payment-methods-table
							


				// ADD PAYMENT METHOD BUTTON
				a.button
					// +btn(std)
					// +btn-gradient-bg
					+btn(grad)

					&:hover
						// +btn(std-hover)
						// +btn-gradient-bg-hover
						+btn(grad-hover)


			
























