// PROJECT
// SPECIFIC
// VERSION 0.1
// Specific styling for each project.


// BODY
body
	background-color: $light-yellow


// NAVBAR
body
	.main-content

		// TOP NAV
		> nav.navbar-top
			background-color: $tp !important
			box-shadow: none !important
			border: none !important
			border-bottom: 0px solid transparent !important

			h1.company-name
				font-family: $title-ff !important
				font-size: 32px !important
				line-height: 1 !important
				color: $dark !important

			&:last-of-type
				// @extend .ds-default
				// border-bottom: 0px solid transparent !important

			.navbar-nav
				.sidenav-toggler
					.sidenav-toggler-inner
						.sidenav-toggler-line
							background-color: $navy

				span.avatar
					border-radius: 50% !important
					overflow: hidden !important
			
			// SECONDARY NAVBAR
			&.navbar-secondary
				padding-top: 0
				+respond-to(xs)
					display: none
				+respond-to(sm)
					display: none
				+respond-to(md)
					display: none

				ul.navbar-nav
					flex-wrap: wrap
					> li.nav-item
						> a.nav-link
							@extend .t-1

							&.nuxt-link-active
								//color: $accent !important
								color: $accent !important
						
						&:hover
							> a.nav-link
								color: $accent !important

						&:nth-child(1) a
							padding-left: 0 !important

		> nav.navbar-top:last-of-type

		> div
			&:before
				content: ''
				display: block
				position: relative
				left: 30px
				width: calc(100% - 60px)
				opacity: 0.5
				border-bottom: 2px solid $grey2 !important
				+respond-to(below-md)
					left: 15px
					width: calc(100% - 30px)


// HEADER
body
	.header
		background-color: $accent !important


// SIDEBAR
body
	.sidenav
		background-color: $white !important
		border: 0px solid transparent !important
		max-width: 72px !important
		@extend .ds-default
		+respond-to(below-xl)
			transform: translateX(-100%)

		
		&:hover
			max-width: 250px !important

		&.g-sidenav-pinned .sidenav
			max-width: 250px !important

		// LOGO
		.navbar-brand
			padding: 30px 25px

			> img
				width: 40px !important
				height: 40px !important
				max-width: unset !important
				max-height: unset !important

		// TOGGLE
		.sidenav-toggler
			padding: 40px 25px

			.sidenav-toggler-icon-wrapper
				width: unset

				> i
					color: $grey2
					min-width: unset
					font-size: 22px
					line-height: 1

		// NAVIGATION
		ul.navbar-nav
			> li.nav-item
				margin-top: 0 !important
				@extend .t-1

				// PARENT
				> a.nav-link
					background-color: $white
					color: $purple-inactive
					padding: 25px 20px 25px 25px
					white-space: nowrap
					font-weight: 700 !important
					@extend .t-1

					> span.nav-link-text
						font-size: 1rem
						line-height: 19px
						font-weight: 700 !important

					&:hover
						color: $dark !important
						// background-color: $darknavy !important

					&.nuxt-link-active
						color: $dark !important


					// ICON
					> i
						top: 0
						min-width: 40px
						font-size: 22px
						line-height: 1

				// SUBMENU
				> div.collapse
					background-color: $grey2 !important
					padding: 10px 0
					@extend .t-1
					@extend .ds-2-1

					// SUBMENU ITEMS
					a.nav-link
						color: $grey3

						&:hover
							color: $dark
							&:after
								color: $dark

					// CURRENT PAGE
					a.nuxt-link-active
						color: $dark !important
				
				// SUBMENU OPEN - PARENT
				> a.nav-link[aria-expanded="true"]
					background-color: $grey2 !important

					// CARET
					&:after
						color: $grey3

					&:hover
						&:after
							color: $dark
					

				// ACTIVE STATE - LI
				&.active
					> a.nav-link.active
						color: $dark !important
						background-color: transparent
						padding: 25px 20px 25px 25px
						border-radius: 0
						margin-left: 0
						margin-right: 0				

			&:hover
				> li.nav-item
					> a.nav-link
						opacity: 1
						color: $purple-inactive !important

						&:hover
							opacity: 1
							color: $dark !important


	// SIDEBAR COLLAPSED
	&.g-sidenav-hidden
		.sidenav
			ul.navbar-nav
				> li.nav-item
					> a.nav-link
						padding: 25px
						// display: inline-block
						> i
							// min-width: unset


// CARDS
body
	.card
		@extend .ds-default

		.card-header
			border: 0px solid transparent !important
			padding: 25px 30px 0

		.card-body
			padding: 30px

		// CARD WITH TABLE
		.card-header + .table-responsive
			margin-top: 25px

		// DARK CARDS
		&.bg-dark
			background-color: $dark !important


// TABLES
body
	.el-table
		.cell
			word-break: break-word

		th.is-right, th.text-right, th > cell.text-right, th .text-right
			text-align: right
			justify-content: flex-end
			
		.el-table__header-wrapper
			table.el-table__header
				thead
					tr
						th
							border-top: 0px solid transparent
							background-color: transparent

			// &:after
			// 	content: ''
			// 	display: block
			// 	position: static
			// 	height: 2px
			// 	background-color: $grey3
			// 	margin: 0 1.5rem
						
	// CUSTOM MODIFIER CLASSES
	.el-table

		// MOD
		&.no-table-header
			.el-table__header-wrapper
				display: none !important

		
		// MOD
		&.last-column-text-right
			thead tr th:nth-last-child(2) > .cell
				justify-content: flex-end
			
			thead tr th:last-child,
			tbody tr td:last-child
				text-align: right

		
		// MOD
		&.no-outside-column-padding
			thead tr th:first-child, 
			tbody tr td:first-child
				padding-left: 0
			
			.el-table__header thead tr th:nth-last-child(2),
			thead tr th:last-child, 
			tbody tr td:last-child
				padding-right: 0

		
		// MOD
		&.no-top-row-padding
			tbody tr:first-child td
				padding-top: 0

		
		// MOD
		&.no-bottom-row-border
			&:before
				display: none
			
			tbody tr:last-child td
				border-bottom: 0px solid transparent

		
		// MOD
		&.no-top-row-border
			tbody tr:first-child td
				border-top: 0px solid transparent


// CIRCLE ICON
.circle-icon
	display: inline-block

	> i
		width: 75px
		height: 75px
		font-size: 30px
		line-height: 75px


// INPUTS (TOP LABEL)
body
	.form-group
		background-color: $white
		border: 1px solid $grey1
		border-radius: 10px

		label.form-control-label
			background-color: transparent
			display: block
			margin: 10px 15px 0

		label.form-control-label + div.has-label
			display: block
			margin: 7px 15px 10px

			input.form-control
				display: block
				width: 100%
				border: 0px solid transparent
				background-color: transparent
				border-radius: 0
				padding: 0
				height: auto

				&:focus
					box-shadow: none

				img.stripe-icon
  					 max-width: 15%


// BACKGROUNDS
.bg-accent
	background-color: $accent !important

.bg-navy
	background-color: $navy !important

.bg-default
	background-color: $grey !important

.bg-purple
	background-color: $purple5 !important

.bg-gradient-1
	background: #ffad14
	background: -moz-linear-gradient(top,  #ffad14 0%, transparent 100%)
	background: -webkit-linear-gradient(top,  #ffad14 0%,transparent 100%)
	background: linear-gradient(to bottom,  #ffad14 0%,transparent 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffad14', endColorstr='transparent',GradientType=0 )


// DROP SHADOWS
.ds-default
	// box-shadow: 0 1px 3px rgba(0,0,0,0.1)
	box-shadow: 0 0 1rem 0 rgba(0,0,0,0.02)

.ds-0
	box-shadow: 0 10px 5px rgba(0,0,0,0)

.ds-1
	box-shadow: 0 10px 5px rgba(0,0,0,0.05)

.ds-2-0
	box-shadow: inset 0 0px 0px rgba(0,0,0,0.15)

.ds-2-1
	box-shadow: inset 0 10px 5px rgba(0,0,0,0.05)


// TRANSITIONS
.t-1
	transition: all 0.15s ease-out 0s


// ALIGNMENT
.vertical-center
	height: 100vh
	height: 100%
	display: flex
	align-items: center


// NAV BAR ICON
.navbar-horizontal .navbar-brand img
	height: 40px


// ORGANIZATION
body
	.user-avatar
		background-color: $accent !important




// BUTTONS
body
	.btn, .btn-dark, .btn.btn-dark, button[type="submit"], input[type="submit"]
		// +btn(std)
		// +btn-gradient-bg
		box-shadow: none !important
		z-index: 1
		position: relative
		+btn(grad)

		// &:before
		// 	transition: $btn-transition
		// 	content: ''
		// 	padding: 10px 25px !important
		// 	// display: block
		// 	position: absolute
		// 	+btn-gradient-bg-v2
		// 	width: 100%
		// 	height: 100%
		// 	top: 0
		// 	left: 0
		// 	border-radius: 22px
		// 	opacity: 1
		// 	z-index: -2
		// 	display: none !important

		// &:after
		// 	transition: $btn-transition
		// 	content: ''
		// 	padding: 10px 25px !important
		// 	// display: block
		// 	position: absolute
		// 	+btn-gradient-bg-v2
		// 	+btn-gradient-bg-hover-v2
		// 	width: 100%
		// 	height: 100%
		// 	top: 0
		// 	left: 0
		// 	border-radius: 22px
		// 	opacity: 0
		// 	z-index: -1
		// 	display: none !important

		&:focus
			outline: none !important
		
		&:hover
			// +btn(std-hover)
			// +btn-gradient-bg-hover
			transform: none !important
			+btn(grad-hover)

			&:after
				opacity: 1

		&.btn-sm
			font-size: 0.75rem !important
			padding: 0.25rem 0.5rem !important
			line-height: 1.5 !important
			border-radius: 13px !important

		&.btn-secondary
			background-color: $grey3 !important
			background-image: none !important

			&:hover
				background-color: $grey4 !important
				background-image: none !important

		&.btn-solid
			background-color: $accent !important
			background-image: none !important

			&:hover
				background-color: $green !important
				background-image: none !important


// MY SERVICES CARDS
body
	.my-services-card
		.card-img-top
			background-color: #4cc5d8
			padding: 30px 0

			img
				display: block
				width: 33%
				height: auto
				margin: 0 auto

		.card-body
			display: flex
			flex-wrap: wrap
			justify-content: center
			align-items: center
			align-content: center

			> .h2, > .h4
				flex: 1 0 100%


// MY SERVICES MODAL
body
	.my-services-modal
		.modal-header
			position: absolute
			z-index: 1
			width: 100%
			
			.modal-title
				display: none !important

			.close
				padding: 0.75rem
				
				> span
					color: #fff
					height: 1.75rem
					width: 1.75rem
					font-size: 1.75rem
					line-height: 24px

		.service-image
			border-top-left-radius: calc(0.4375rem - 1px)
			border-top-right-radius: calc(0.4375rem - 1px)
			margin: -1.5rem -1.5rem 1.5rem
			padding: 30px 0
			background-color: #4cc5d8

			img
				display: block
				width: 33%
				height: auto
				margin: 0 auto

		.modal-body
			ul
				text-align: left !important





// FIX HACK
body
	#__layout > div > div.main-content > div > div > div > div:nth-child(1) > div > div > div > div.card-body > form > div > div.col-4 > div.user-avatar.mb-3 > img,
	#__layout > div > div.main-content > nav:nth-child(1) > div > div > ul.navbar-nav.align-items-center.ml-auto.ml-md-0 > a > div > span > img
		border-radius: 50% !important


// BOOTSTRAP OVERRIDES
body
	
	// BACKGROUNDS
	.bg-danger
		background-color: $pink !important

	.bg-success
		background-color: $green !important

	.bg-primary
	.bg-secondary
	.bg-success
	.bg-danger
	.bg-warning
	.bg-info
	.bg-light
	.bg-dark

	.bg-gradient-primary
	.bg-gradient-secondary
	.bg-gradient-success
	.bg-gradient-danger
	.bg-gradient-warning
	.bg-gradient-info
	.bg-gradient-light
	.bg-gradient-dark


// WOOCOMMERCE NOTICES AND MESSAGES
body
	.woocommerce-NoticeGroup
		ul.woocommerce-error
			border: 0px solid transparent
			background-color: $accent
			border-radius: $ui-element-border-radius
			color: $white

			&:before
				color: $white

	.woocommerce-error, .woocommerce-message, .woocommerce-info
		border: 0px solid transparent
		background-color: $accent
		border-radius: $ui-element-border-radius
		color: $white

		&:before
			color: $white

		> br
			display: none !important

		> a
			color: inherit !important
			


// custom-control custom-checkbox
body
	.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before
		border: 1px solid #dee2e6 !important
		background-color: #fff !important





li.product a img
	display: none !important


body a, body p a
	color: black !important

aside.sidebar
	display: none !important

.nav
	display: none !important

body .woocommerce-NoticeGroup ul.woocommerce-error
	color: red










