// PROJECT
// VARIABLES
// VERSION 0.1
// Variables intended to have their values changed for each project.





// COLORS
$accent-light: #D1DBE3
$accent-light2: #A2ABB1
$accent-medium: #716659
$accent-dark: #231F20
$light: #F3F5F7
$yellow: #F7CF5E
$light-yellow: #F8F8F5
$navy: #333C49
$darknavy: #2C3441
$white: #FFFFFF
$tp: transparent

$accent: transparent
$pink: transparent
$red: transparent
$orange: #FFAD14
$yellow: #F9D630
$green: #4AD2A0

$light-purple: #3D3376
$dark-purple: #231F53
$purple-inactive: #A7A5BA

$grey: #F7F8FB
$grey1: #E3E3DF
$grey2: #DDDDDD
$grey3: #777777
$grey4: #666666
$grey5: #333333
$black: #222222

$dark: #2F2D66

$purple1: #ECE8FE
$purple2: #D8D0FC
$purple3: #BDAEFB
$purple4: #9E8BEB
$purple5: #6D54D0
$purple6: #3D3376
$purple7: #231F53
$purple8: #161436
$purple9: #150f3f

@mixin btn-gradient-bg
	transition: all 0.25s ease-out !important
	//background-image: linear-gradient(135deg, transparent 0%, #f45c64 33%, #fb7545 66%, #ffad14 100%) !important
	background-image: linear-gradient(315deg,#f84470 0%,#f45c64 33%,#fb7545 66%,#ffad14 100%)!important
	background-size: 150% 150% !important
	background-position: 0% 0% !important

@mixin btn-gradient-bg-hover
	background-size: 150% 150% !important
	background-position: 100% 0% !important

@mixin btn-gradient-bg-v2
	transition: all 0.25s ease-out !important
	background-image: linear-gradient(90deg, transparent 0%, #fb7545 100%) !important
	background-size: 100% 100% !important
	background-position: 0% 100% !important

@mixin btn-gradient-bg-hover-v2
	background-image: linear-gradient(90deg, #f45c64 0%, #ffad14 100%) !important
	background-size: 100% 100% !important
	background-position: 0% 100% !important


// TYPOGRAPHY
$nav-fsi: 14px
$nav-lh: 1
$nav-fw: 500
$nav-c: $accent

$body-ff: Muli, sans-serif
$body-fsi: 17px
$body-lh: 27px
$body-fw: normal
$body-c: $dark

$headline-ff: Muli, sans-serif
$title-ff: 'Source Serif Pro', serif
$headline-fw: bold
$headline-c: $dark
$headline-tt: none
$headline-ls: 0


// TYPOGRAPHY OVERRIDES

$h0-overrides: true
$h0-overrides: 58px, 72px, $headline-ff, $headline-fw, $headline-c, $headline-tt, $headline-ls

$h1-overrides: true
$h1-overrides: 1.625rem, 1.5, $headline-ff, $headline-fw, $headline-c, $headline-tt, $headline-ls

$h2-overrides: true
$h2-overrides: 1.25rem, 1.5, $headline-ff, $headline-fw, $headline-c, $headline-tt, $headline-ls

$h3-overrides: true
$h3-overrides: 1.0625rem, 1.5, $headline-ff, $headline-fw, $headline-c, $headline-tt, $headline-ls

$h4-overrides: true
$h4-overrides: 0.9375rem, 1.5, $headline-ff, $headline-fw, $headline-c, $headline-tt, $headline-ls

$h5-overrides: true
$h5-overrides: 0.8125rem, 1.5, $headline-ff, $headline-fw, $headline-c, uppercase, $headline-ls

$h6-overrides: true
$h6-overrides: 0.625rem, 1.5, $headline-ff, $headline-fw, $headline-c, $headline-tt, $headline-ls


// TYPOGRAPHY DEFAULTS
$h0-defaults: 50px, 60px, $headline-ff, $headline-fw, $headline-c, $headline-tt, $headline-ls
$h1-defaults: 50px, 60px, $headline-ff, $headline-fw, $headline-c, $headline-tt, $headline-ls
$h2-defaults: 36px, 44px, $headline-ff, $headline-fw, $headline-c, $headline-tt, $headline-ls
$h3-defaults: 30px, 36px, $headline-ff, $headline-fw, $headline-c, $headline-tt, $headline-ls
$h4-defaults: 22px, 30px, $headline-ff, $headline-fw, $headline-c, $headline-tt, $headline-ls
$h5-defaults: 18px, 26px, $headline-ff, $headline-fw, $headline-c, $headline-tt, $headline-ls
$h6-defaults: 20px, 1, $headline-ff, $headline-fw, $headline-c, $headline-tt, $headline-ls


// BUTTONS - STANDARD
$btn-transition: all 0.3s ease 0s
$btn-pad: 10px 25px
$btn-bg: $accent
$btn-c: $white
$btn-b-rad: 22px
$btn-b: 0px solid $accent
$btn-ff: $body-ff
$btn-fsi: 16px
$btn-lh: 24px
$btn-fw: bold
$btn-ltrspc: 0
$btn-o: 1
$btn-cursor: pointer

// BUTTONS - STANDARD HOVER
$btn-sh-bg: $accent
$btn-sh-bg: transparent
$btn-sh-b: 0px solid $accent
$btn-sh-c: $white


// BUTTONS - SMALL VERSION
$btn-small-fsi: 0.75rem
$btn-small-pad: 0.25rem 0.5rem
$btn-small-lh: 1.7
$btn-small-b-rad: 15px
$btn-small-mh: unset
$btn-small-h: 30px


// BUTTONS - STANDARD LIGHT
$btn-light-bg: $white
$btn-light-c: $accent
$btn-light-b: 2px solid $white

// BUTTONS - STANDARD LIGHT HOVER
$btn-slh-bg: transparent
$btn-slh-b: 2px solid $white
$btn-slh-c: $white



// BUTTONS - OUTLINE
$btn-o-bg: transparent
$btn-o-c: $accent
$btn-o-b: 2px solid $accent

// BUTTONS - OUTLINE HOVER
$btn-oh-bg: $accent
$btn-oh-c: $white
$btn-oh-b: 2px solid $accent



// BUTTONS - OUTLINE LIGHT
$btn-lo-bg: transparent
$btn-lo-c: $white
$btn-lo-b: 2px solid $white

// BUTTONS - OUTLINE LIGHT HOVER
$btn-loh-bg: $white
$btn-loh-c: $accent
$btn-loh-b: 2px solid $white



// FORMS
$form-input-pad: 10px 15px
$form-input-bg: $light
$form-input-c: $grey
$form-input-b-rad: 0px
$form-input-b: 1px solid $accent-light
$form-input-fsi: 14px
$form-input-lh: 27px


// BACKGROUND OVERLAYS
$bg-overlay-color: #000
$bg-overlay-opacity: 0.6


// GLOBAL ELEMENT UI VARIABLES
$ui-box-shadow: 0 0 1rem 0 rgba(0,0,0,0.02)
$ui-element-border-radius: 5px
$ui-element-border-width: 2px
$ui-element-border-style: solid
$ui-element-border-color: $light


// DIVI OVERLAYS
$overlay-bg: $accent-dark
$overlay-close-c: $white
$overlay-form-label-c: $white
















