/*--------------------------------

Nucleo Web Font
Generated using nucleoapp.com

-------------------------------- */
@font-face {
  font-family: 'Nucleo';
  src: url('../fonts/Nucleo.eot');
  src: url('../fonts/Nucleo.eot') format('embedded-opentype'), url('../fonts/Nucleo.woff2') format('woff2'), url('../fonts/Nucleo.woff') format('woff'), url('../fonts/Nucleo.ttf') format('truetype'), url('../fonts/Nucleo.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*------------------------
	base class definition
-------------------------*/
.ni {
  display: inline-block;
  font: normal normal normal 1em/1 'Nucleo';
  speak: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*------------------------
  change icon size
-------------------------*/
/* relative units */
.ni-sm {
  font-size: 0.8em;
}
.ni-lg {
  font-size: 1.2em;
}
/* absolute units */
.ni-16 {
  font-size: 16px;
}
.ni-32 {
  font-size: 32px;
}
/*----------------------------------
  add a square/circle background
-----------------------------------*/
.ni-bg-square,
.ni-bg-circle {
  padding: 0.35em;
  background-color: #eee;
}
.ni-bg-circle {
  border-radius: 50%;
}
/*------------------------------------
  use icons as list item markers
-------------------------------------*/
.ni-ul {
  padding-left: 0;
  list-style-type: none;
}
.ni-ul > li {
  display: flex;
  align-items: flex-start;
  line-height: 1.4;
}
.ni-ul > li > .ni {
  margin-right: 0.4em;
  line-height: inherit;
}
/*------------------------
  spinning icons
-------------------------*/
.ni-is-spinning {
  -webkit-animation: ni-spin 2s infinite linear;
  -moz-animation: ni-spin 2s infinite linear;
  animation: ni-spin 2s infinite linear;
}
@-webkit-keyframes ni-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes ni-spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@keyframes ni-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*------------------------
  rotated/flipped icons
-------------------------*/
.ni-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.ni-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.ni-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.ni-flip-y {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.ni-flip-x {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
/*------------------------
	icons
-------------------------*/

.ni-grid-interface::before {
  content: "\ea02";
}

.ni-single-01::before {
  content: "\ea03";
}

.ni-multiple-11::before {
  content: "\ea04";
}

.ni-currency-exchange-2::before {
  content: "\ea05";
}

.ni-archive-paper::before {
  content: "\ea06";
}

.ni-right-arrow::before {
  content: "\ea07";
}

.ni-credit-card::before {
  content: "\ea08";
}

.ni-contacts-2::before {
  content: "\ea09";
}

.ni-contacts::before {
  content: "\ea0a";
}

.ni-credit-card-2::before {
  content: "\ea0b";
}

.ni-archive-paper-2::before {
  content: "\ea0c";
}

.ni-multiple-11-2::before {
  content: "\ea0d";
}

.ni-single-01-2::before {
  content: "\ea0e";
}

.ni-chart-bar-32::before {
  content: "\ea0f";
}

.ni-b-meeting::before {
  content: "\ea10";
}

.ni-slide-left::before {
  content: "\ea11";
}

.ni-log-out::before {
  content: "\ea12";
}

