/*
	Theme Name: Midas Dashboard
	Theme URI: https:winwithmidas.com
	Description: Midas Vue dashboard theme
	Version: 1.4.3
	Author: Midas Marketing 
	Author URI: http://toddmotto.com
	Tags: Blank, HTML5, CSS3

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/

img.stripe-icon {
    max-width: 15%;
}

#__layout > div > div.main-content > div > div > div > div:nth-child(1) > div > div > div > div.card-body > form > div > div.col-4 > div.user-avatar.mb-3 > img {
    /*border-radius: 0px !important;*/
}

#__layout > div > div.main-content > nav:nth-child(1) > div > div > ul.navbar-nav.align-items-center.ml-auto.ml-md-0 > a > div > span > img {
	/*border-radius: 0px !important;*/
}

/*FORM AUTOFILL RESET*/
body input:-internal-autofill-selected,
body input:-webkit-autofill,
body input:-webkit-autofill:active,
body input:-webkit-autofill:focus,
body input:-webkit-autofill:focus-within,
body input:-webkit-autofill:hover {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0 50px rgba(255,255,255,1) inset !important;
    -webkit-text-fill-color: #666 !important;
    font-size: 15px !important;
    line-height: 1.5 !important;
    font-family: Muli, sans-serif !important;
}

.woocommerce {
    max-width: 1000px !important;
    margin: 50px !important;
    
}

main {
    max-width: 1000px !important;
    margin: 50px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

body > main > div > div.wpmc-steps-wrapper > form > div.wpmc-step-item.wpmc-step-billing.current > div > div {
    background: white;
    padding: 25px;
}
body > main > div > div.wpmc-steps-wrapper > form > div.wpmc-step-item.wpmc-step-billing.current > div > div > p {
    display: inline-block;
    width: 35%;
    text-align:center;
    float: none;
}

#__layout > div > div.sidenav.navbar.navbar-vertical.fixed-left.navbar-expand-xs.navbar-light.bg-navy > div > div.navbar-inner > ul > li:nth-child(8) > a {
    display: none !important;
}